[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mutagen = "*"
djangorestframework = "*"
django-rest-framework = "*"
status = "*"
stripe = "*"
djoser = "*"
cloudinary = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.11"
